body, div, span, td {
  font-family: Arial;
}

body {
  background: #efefef url('../images/sphere-bg.png') no-repeat;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.center{
  text-align: center;
}

.float-left{
  float: left !important;
}

.float-right{
  float: right !important;
}

.attribution {
  font-size: 11px;
  font-weight: bold;
}

.image {
  border: 1px solid #026500;
  padding: 5px;
  margin: 0 0 20px 0;
}

.image img {
  width: 100%;
}

.image .caption {
  font-size: 12px;
  margin-top: 10px;
  float: none !important;
}

.clear{
  clear: both;
}

#header {
  width: 1125px;
  margin: 15px 17px 15px 15px;
  font-family: "Trebuchet MS";
}

#header #share {
  clear: left;
  padding-top: 10px;
}

#header #portrait {
  background: url('../images/gordon-romney-portrait.jpg');
  width: 50px;
  height: 66px;
  float: right;
}

h1, h2, h3, h4 {
  margin: 0 0 10px 0;
}

.no-margin {
  margin: 0;
}

h4 {
  font-size: 18px;
}

#header h1 {
  text-transform: uppercase;
}

#header h1, #header h3 {
  margin: 0;
  /*width: 760px;*/
  float: left;
}

#header h1 {
  font-size: 40px;
}

#header h3 {
  font-size: 18px;
}

#ribbon {
  width: 1125px;
  min-height: 855px;
  margin: 10px auto;
}

#ribbon div {
  float: left;
}

#ribbon #margin-left {
  background: url('../images/page-dropshadow-left.png') no-repeat;
  width: 15px;
  height: 855px;
}

#ribbon #margin-right {
  background: url('../images/page-dropshadow-right.png') no-repeat;
  width: 15px;
  height: 855px;
}

#ribbon #page {
  width: 1000px;
  min-height: 855px;
  border: 1px solid #c1c1c1;
  background: #ffffff;
  padding: 45px;
  margin-bottom: 50px;
}

#rendering {
  border: 1px solid #026500;
  padding: 5px;
  width: 1000px;
  margin-bottom: 15px;
}

#rendering #menu {
  width: 296px;
  height: 625px;
  float: right;
  overflow: hidden;
}

#rendering #menu .item {
  display: block;
  overflow: hidden;
  width: 273px;
  padding: 10px;
  font-size: 18px;
  background: #6f6f6f;
  color: #fff;
  margin: 1px 2px 1px 2px;
}

#rendering #menu .item.selected {
  background: #026500;
}

#rendering #menu .item .subtext {
  font-size: 12px;
  margin-top: 3px;
}

#rendering #menu .item.verbiage {
  background: #edecec;
  color: #6f6f6f;
  font-size: 14px;
  line-height: 1.4;
  height: 400px;
}

#render-canvas,#render-webgl,#render-video{
  background: #000;
  width: 700px;
  height: 625px;
}

.figure1{
  position: relative;
  width: 100%;
}

.figure1 .hint{
  position: absolute;
  border: 1px solid #000;
  padding: 2px;
  background: #fff;
}

.figure1 .L-tricube{
  top: 64px; left: 41px;
}

.figure1 .L-tetracube{
  top: 64px; left: 392px;
}

.figure1 .S-tetracube{
  top: 64px; left: 683px;
}

.figure1 .RS-tetracube{
  top: 354px; left: 80px;
}

.figure1 .T-tetracube{
  top: 188px; left: 392px;
}

.figure1 .LS-tetracube{
  top: 352px; left: 572px;
}

.figure1 .B-tetracube{
  top: 462px; left: 440px;
}

.tbl{
  width: 1012px;
  clear: both;
}

.col1,.col2{
  width: 48%;
  float: left;
}

.col1{
  padding: 0 20px 0 0;
}

.figure2a {
  width: 450px;
}
#.figure2a img{
#  width: 377px;
#}

#.figure2b img{
#  width: 390px;
#}

#.figure3a img{
#  width: 377px;
#}

#.figure3b img{
#  width: 390px;
#}

#.figure4a img{
#  width: 377px;
#}

#.figure4b img{
#  width: 390px;
#}

#.figure5a img{
#  width: 377px;
#}

#.figure5b img{
#  width: 377px;
#}

.donut img{
  #width: 300px;
  width: 100%;
}

.pixar {
  width: 100%;
}

.pixar img{
  width: 100%;
  margin: 10px 0 20px 35px;
}
